body {
  background-color: #EEE;
}

div.ai {
  font-family: monospace;
  font-size: 0.8em;
  word-wrap: break-word;
}

label {
  font-weight: bold;
  display:block;clear:both;
}

div.details {
  font-family: monospace;
  font-size: 0.8em;
  clear: both;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

div.analysis-report {
  font-family: monospace;
  font-size: 0.8em;
  margin: auto;
  width: auto;
  /*text-align: left;*/
  background-color: white;
  border-top: solid 1px;
  border-bottom: solid 1px;
  margin-top: 2em;
}

.certain {
  font-weight: bold;
  font-size: 1.5em;
}
.very-sure {
  font-weight: bold;
  font-size: 1.2em;
}
.sure {
  font-weight: bold;
  font-size: 1.1em;
}
.unsure {
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
}

div.analysis-item {

}

div.image-box.image-selected {
  border-color: red;
  border-style: dashed;
}

.images-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.image-box {
  background: white;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  border: solid 3px black;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
}

/*.image-box:hover {
  transform: scale(2);
}*/