body {
  background-color: #EEE;
}

.images-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.image-box {
  background: white;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  border: solid 3px black;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.image-box:hover {
  transform: scale(2);
}